@{
    ViewBag.Title = "DangNhap";
    Layout = "~/Views/Shared/DangKy_DangNhap.cshtml";
}
<div class="login-wrap d-flex align-items-center flex-wrap justify-content-center">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 col-lg-7">
                <img src="~/DULIEU/Admin/images1/background.svg" alt="">
            </div>
            <div class="col-md-6 col-lg-5">
                <div class="login-box bg-white box-shadow border-radius-10">
                    <div class="login-title">
                        <h2 class="text-center text-primary">Đăng Nhập Tài Khoản</h2>
                    </div>
                    <div class="select-role">
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn">
                                <input type="radio" name="options" id="user">
                                <div class="icon"><img src="~/DULIEU/Admin/images1/person.svg" class="svg" alt=""></div>
                                <span>Xin chào bạn đến với Book Store</span>
                            </label>
                        </div>
                    </div>
                    @using (Html.BeginForm())
                    {
                        @Html.ValidationSummary(true)
                        {
                            <h7 style="color:red;text-align:left">@ViewData["Loi1"]</h7>
                            <div class="input-group custom">
                                <td>@Html.TextBox("TenDN", "", new { @class = "form-control", type = "text", placeholder = "Tên Đăng Nhập" })</td>
                                <div class="input-group-append custom">
                                    <span class="input-group-text"><i class="icon-copy dw dw-user1"></i></span>
                                </div>
                            </div>
                            <h7 style="color:red;text-align:left">@ViewData["Loi2"]</h7>
                            <div class="input-group custom">
                                <td>@Html.Password("MatKhau", "", new { @class = "form-control", type = "password", placeholder = "Mật Khẩu" })</td>
                                <div class="input-group-append custom">
                                    <span class="input-group-text"><i class="dw dw-padlock1"></i></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="input-group mb-0">
                                        <input class="btn btn-primary btn-lg btn-block" type="submit" value="Đăng nhập">
                                    </div>
                                    <div class="font-16 weight-600 pt-10 pb-10 text-center" data-color="#707373">Hoặc</div>
                                    <div class="input-group mb-0">
                                        <a class="btn btn-outline-primary btn-lg btn-block" href="/NguoiDung/DangKy">Đăng ký để tạo tài khoản</a>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<h5 style="color:red;text-align:center">@ViewBag.TB</h5>

